<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905254753939-2strda0r4326g7cut7c6run99509sk39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905254753939-2strda0r4326g7cut7c6run99509sk39</string>
	<key>API_KEY</key>
	<string>AIzaSyAkj2ltCUII9YiQXFClL3VQ9Huk-RiJBLE</string>
	<key>GCM_SENDER_ID</key>
	<string>905254753939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatify</string>
	<key>PROJECT_ID</key>
	<string>chatify-b1de0</string>
	<key>STORAGE_BUCKET</key>
	<string>chatify-b1de0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905254753939:ios:38c4727dc9766b816b5f66</string>
</dict>
</plist>